@use "../abstracts/mixins";
@use "../abstracts/functions";

.footer {
  padding-inline: 1.5rem;
  padding-block: 6.25rem;
}
.footer .btn {
  margin-top: 3rem;
}

/*----------------------------------------------------------------------------
  Tablet breakpoint
 ----------------------------------------------------------------------------*/
@include mixins.media-breakpoint("tablet") {
}
