@use "../abstracts";

/**
 * Rectangular with neutral (dark grey) background
 */
.btn {
  border: none;

  color: var(--theme-btn-clr);
  background-color: transparent;

  user-select: none;
  cursor: pointer;
}

/**
 * Rectangular with background in primary (red) color
 */
.btn--primary {
  background-color: var(--theme-btn-primary-bg);
}

.btn--secondary {
  background-color: var(--theme-btn-secondary-bg);
}

/**
 * Link, underlined, no background
 */
.btn--link {
  color: var(--theme-btn-link-clr);
  text-decoration: underline;
}

/**
 * icon-only for carousel arrows
 */
.btn--icon {
}
