.carousel {
  list-style: none;
  padding-inline: 0;
  display: flex;
  overflow-y: scroll;
  scroll-snap-type: inline mandatory;
  overscroll-behavior: inline contain;
  scrollbar-width: none;
}
.carousel::-webkit-scrollbar {
  display: none;
}
.carousel__picture {
  width: calc(
    //min(100vw, var(--container-max-width)) - 2 * var(--container-padding-inline)
    min(100vw, var(--container-max-width))
  );
}
.carousel__img {
  width: 100%;
  object-fit: cover;
  object-position: bottom;
}
.carousel__card {
  scroll-snap-align: center;
  width: 100%;
}
