.carousel {
  position: relative;
  list-style: none;
  padding-inline: 0;
  display: flex;
  overflow-y: scroll;
  scroll-snap-type: inline mandatory;
  overscroll-behavior: inline contain;
  scrollbar-width: none;
}
.carousel::-webkit-scrollbar {
  display: none;
}
.carousel__card {
  position: relative;
  display: flex;
  flex-direction: column-reverse;
  scroll-snap-align: center;
  width: 100%;
}
.carousel__card-title {
  padding-top: 4rem;
  padding-bottom: 8rem;
  padding-left: 1.5rem;
}

.carousel__card figure {
  position: relative;
}
.carousel__card figcaption {
  position: absolute;
  bottom: 2.5rem;
  right: 2.5rem;
  text-align: right;
}
.carousel__picture {
  width: calc(
    //min(100vw, var(--container-max-width)) - 2 * var(--container-padding-inline)
    min(100vw, var(--container-max-width))
  );
}
.carousel__img {
  width: 100%;
  object-fit: cover;
  object-position: bottom;
}
.carousel__controls {
  display: grid;
  grid-auto-flow: column;
  gap: 1rem;
  position: absolute;
  bottom: 4rem;
  left: 1.5rem;
  z-index: 2;
}
