@font-face {
  font-family: "Commissioner";
  font-style: normal;
  font-weight: 400;
  src: local("Commissioner"),
    url("../../assets/fonts/Commissioner-Regular.woff2") format("woff2"),
    url("../../assets/fonts/Commissioner-Regular.ttf") format("truetype");
  font-display: swap;
}

@font-face {
  font-family: "Commissioner";
  font-style: normal;
  font-weight: 700;
  src: local("Commissioner"),
    url("../../assets/fonts/Commissioner-Bold.woff2") format("woff2"),
    url("../../assets/fonts/Commissioner-Bold.ttf") format("truetype");
  font-display: swap;
}

@font-face {
  font-family: "Commissioner";
  font-style: normal;
  font-weight: 800;
  src: local("Commissioner"),
    url("../../assets/fonts/Commissioner-ExtraBold.woff2") format("woff2"),
    url("../../assets/fonts/Commissioner-ExtraBold.ttf") format("truetype");
  font-display: swap;
}
