.icon {
  display: inline-block;
  user-select: none;
  cursor: pointer;
  fill: var(--theme-icon-clr);
}

.icon--logo {
  width: 97px;
  height: 40px;
}

.icon--hamburger {
  width: 24px;
  height: 18px;
}

.icon--cross {
  width: 20px;
  height: 20px;
}

.icon--arrow-previous {
  width: 40px;
  height: 40px;
  stroke: var(--theme-btn-primary-bg);

  &:hover {
    stroke: var(--theme-btn-primary-bg-hover);
  }
}

.icon--arrow-next {
  width: 40px;
  height: 40px;
  stroke: var(--theme-btn-primary-bg);

  &:hover {
    stroke: var(--theme-btn-primary-bg-hover);
  }
}
