/*******************************************************************************
 * Typography
 *
 *******************************************************************************/

@use "../abstracts/mixins";
@use "../abstracts/functions";

@mixin font-base {
  font-family: "Commissioner";
  font-weight: 400;
  font-size: 1rem;
  font-style: normal;
  text-decoration: none;
  line-height: 1;
}

.heading--1 {
  @include font-base;
  // 40px/40px mobile
  // 56px/56px tablet
  // 80px/88px desktop
  font-size: functions.ramp(2.375rem, 5rem, 320px, 1440px);
  font-weight: 800;
  line-height: 1;
  letter-spacing: 0px;
  color: var(--theme-clr);
}

.heading--2 {
  @include font-base;
  // mobile 32/40-800
  // tablet 32/40-800
  // desktop 56/64-800
  font-size: functions.ramp(2rem, 3.5rem, 768px, 1440px);
  font-weight: 800;
  line-height: 1;
  letter-spacing: 0px;
  color: var(--theme-clr);
}

.heading--3 {
  @include font-base;
  // mobile 15/25-800
  // tablet 15/25-800
  // desktop 20/32-800
  font-size: functions.ramp(0.9375rem, 1.25rem, 768px, 1440px);
  font-weight: 800;
  line-height: 1.667;
  letter-spacing: 0px;
  color: var(--theme-clr);
}

.text--1 {
  @include font-base;
  // mobile 15/25-400
  // tablet 15/25-400
  // desktop 18/32-400
  font-size: functions.ramp(0.9375rem, 1.125rem, 768px, 1440px);
  line-height: 1.6667;
  color: var(--theme-clr);
}
.btn {
  @include font-base;
  // mobile 16/20-800
  // tablet 16/20-800
  // desktop 16/20-800
  font-size: 1rem;
  font-weight: 800;
  line-height: 1.25;
}
.menu--1 {
  @include font-base;
  // mobile 18/32-400
  // tablet 15/32-400
  // desktop 16/32-400
  font-size: 1.125rem;
  font-weight: 400;
  line-height: 2;
}
.text--center {
  text-align: center;
}

/*----------------------------------------------------------------------------
  Tablet breakpoint
 ----------------------------------------------------------------------------*/
@include mixins.media-breakpoint("tablet") {
  .menu--1 {
    font-size: functions.ramp(0.9375rem, 1rem, 768px, 1440px);
  }
}
