$clr-neutral-100: hsl(0, 0%, 100%); // #FFFFFF
$clr-neutral-700: hsl(240, 12%, 30%); // #434356
$clr-neutral-800: hsl(240, 14%, 11%); // #191921
$clr-neutral-900: hsl(0, 0%, 0%); // #000000

$clr-accent-300: hsl(0, 100%, 79%); // #FF9393
$clr-accent-400: hsl(0, 93%, 64%); // #F94F4F
